@import url(https://fonts.googleapis.com/css?family=RobotoDraft:400,300,500,500italic,700italic,700);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700);
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  min-height: 100%;
  font-weight: bold;
  background: #EFEFEF;
  font-family: "RobotoDraft", Arial, sans-serif, Helvetica; }

.clear {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.text-center {
  text-align: center; }

.nav {
  width: 100%;
  z-index: 9999;
  font-size: 14pt;
  position: fixed;
  padding: 18px 20px;
  background: #2196F3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.37); }
  .nav > .brand {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.18s ease; }
    .nav > .brand:hover {
      color: #DDDDDD;
      transition: all 0.18s ease; }
  .nav > .right > a {
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.18s ease; }
  .nav > .right > .navigation:hover {
    color: #DDDDDD;
    transition: all 0.18s ease; }

.left-nav {
  width: 19%;
  height: 100%;
  z-index: 9998;
  position: fixed;
  margin-top: 60px;
  background: #FFFFFF;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.58); }
  .left-nav > .header {
    width: 100%;
    height: 150px; }
    .left-nav > .header > .brand {
      width: 100%;
      color: #FFFFFF;
      font-size: 20pt;
      font-weight: 200;
      line-height: 150px;
      text-align: center;
      /* background: rgba(33, 150, 243, 0.5); */ }
  .left-nav > .links {
    width: 100%;
    margin-top: 30px; }
    .left-nav > .links > a {
      width: 100%;
      color: #212121;
      display: block;
      font-size: 14pt;
      padding: 16px 24px;
      text-decoration: none;
      box-sizing: border-box;
      transition: all 0.18s ease;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box; }
      .left-nav > .links > a:hover {
        background: #CCCCCC; }
      .left-nav > .links > a.active {
        color: #FFFFFF;
        background: #2196F3; }
        .left-nav > .links > a.active:hover {
          background: #1976D2; }

.container {
  width: 79%;
  float: right;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 12px; }
  .container > .welcome {
    margin: 0px;
    padding: 0px;
    color: #2196F3;
    font-weight: 500; }

.print-container {
  width: 100%;
  height: 31%;
  margin-left: auto;
  margin-right: auto; }

.card {
  width: 100%;
  margin-top: 15px;
  border-radius: 2px;
  margin-bottom: 15px;
  background: #FFFFFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.37); }
  .card > .card-title {
    color: #FFFFFF;
    font-size: 14pt;
    font-weight: 300;
    padding: 6px 15px;
    background: #2196F3;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
  .card > .card-content {
    padding: 8px 20px; }
  .card > .card-footer {
    padding: 6px 15px;
    border-top: 1px solid #DDDDDD; }

.mini-card {
  width: 100%;
  padding: 6px;
  margin-top: 5px;
  border-radius: 1px;
  margin-bottom: 5px;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21); }
  .mini-card.alert {
    color: #FFFFFF;
    background: #F44336; }

.print-card {
  width: 100%;
  border-radius: 2px; }
  .print-card > .card-footer {
    padding: 6px 15px;
    border-top: 1px solid #EEEEEE; }
  .print-card > .card-content {
    margin-left: auto;
    margin-right: auto; }
  .print-card > .card-content > .print-30 {
    width: 33%;
    float: left; }

.table {
  width: 100%; }
  .table > thead > tr {
    padding: 1px 5px;
    border-bottom: 1px solid #DDDDDD; }
  .table > tbody > tr:nth-child(odd) {
    background: #DDDDDD; }
  .table > td {
    padding: 1px 5px; }

.notification {
  width: 100%;
  margin-top: 5px;
  padding: 2px 5px;
  border-radius: 1px;
  margin-bottom: 5px;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD; }

.button-flat {
  font-size: 12pt;
  cursor: pointer;
  color: #2196F3;
  padding: 4px 8px;
  font-weight: bold;
  text-decoration: none;
  transition: box-shadow 0.36s ease-in-out; }
  .button-flat:hover {
    text-decoration: none;
    transition: box-shadow 0.36s ease-in-out;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.37); }

td {
  padding: 5px; }

.button-raised {
  width: 100%;
  border: none;
  color: #FFFFFF;
  font-weight: 500;
  padding: 8px 20px;
  text-align: center;
  border-radius: 2px;
  background: #2196F3;
  display: inline-block;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.37); }
  .button-raised:hover {
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.37); }
  .button-raised:focus {
    color: #FFFFFF;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.37); }
  .button-raised[disabled] {
    color: #DDDDDD;
    background: #999999;
    pointer-events: none; }
  .button-raised.delete {
    background: #E14747; }
  .button-raised.print {
    background: #20B473; }
  .button-raised.el-2 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.37); }
    .button-raised.el-2:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.38); }

.disabled {
  width: 100%;
  border: none;
  color: #FFFFFF;
  font-weight: 500;
  padding: 8px 20px;
  text-align: center;
  border-radius: 2px;
  background: #2196F3;
  display: inline-block;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.37); }
  .disabled:hover {
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.37); }
  .disabled:focus {
    color: #FFFFFF;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.37); }
  .disabled[disabled] {
    color: #DDDDDD;
    background: #999999;
    pointer-events: none; }
  .disabled.delete {
    background: #E14747; }
  .disabled.print {
    background: #20B473; }

[disabled] {
  color: #DDDDDD;
  background: #999999;
  pointer-events: none; }

.textarea {
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  font-size: 18px;
  margin-top: 10px;
  padding: 6px 7px;
  border-radius: 3px;
  margin-bottom: 10px;
  border-bottom: 2px solid #DEDEDE;
  transition: border-bottom 0.18s ease; }
  .textarea:focus {
    border-bottom: 2px solid #ABABAB; }

input[type='text'] {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  margin-top: 10px;
  padding: 12px 14px;
  border-radius: 3px;
  margin-bottom: 10px;
  border-bottom: 2px solid #DEDEDE;
  transition: border-bottom 0.18s ease; }
  input[type='text']:focus {
    border-bottom: 2px solid #ABABAB;
    transition: border-bottom 0.18s ease; }

input[type='number'] {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  margin-top: 10px;
  padding: 12px 14px;
  border-radius: 3px;
  margin-bottom: 10px;
  border-bottom: 2px solid #DEDEDE;
  transition: border-bottom 0.18s ease; }
  input[type='number']:focus {
    border-bottom: 2px solid #ABABAB;
    transition: border-bottom 0.18s ease; }

input[type='password'] {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14pt;
  margin-top: 10px;
  padding: 12px 14px;
  border-radius: 3px;
  margin-bottom: 10px;
  border-bottom: 2px solid #DEDEDE;
  transition: border-bottom 0.18s ease; }
  input[type='password']:focus {
    border-bottom: 2px solid #ABABAB;
    transition: border-bottom 0.18s ease; }

input[type='date'] {
  width: 100%;
  border: none;
  font-size: 18pt;
  padding: 12px 14px;
  border-bottom: 2px solid #DEDEDE; }

select {
  width: 100%;
  border: none;
  font-size: 18pt;
  padding: 12px 14px;
  border-bottom: 2px solid #DEDEDE; }

.pagination {
  list-style: none; }
  .pagination > li {
    float: left;
    color: #2196F3;
    padding: 4px 10px;
    display: inline-block;
    border: 1px solid #2196F3; }
  .pagination .active {
    color: #FFF;
    background: #2196F3; }
    .pagination .active > a {
      color: #FFFFFF; }
  .pagination .disabledpage {
    float: left;
    color: #DDDDDD;
    background: #FFFFFF;
    pointer-events: none; }
    .pagination .disabledpage > a {
      color: #DDDDDD;
      background: #FFFFFF; }
  .pagination .left {
    border-right: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px; }
  .pagination .right {
    border-left: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }

.discount-icon {
  background-image: url(../imgs/discount-dollarsign.png);
  background-position: 2px 14px;
  background-repeat: no-repeat; }
  .discount-icon:focus {
    background-image: url(../imgs/discount-dollarsign.png);
    background-position: 2px 14px;
    background-repeat: no-repeat; }

.theoption {
  font-size: 11pt;
  font-family: "Titillium Web", Arial, sans-serif, Helvetica; }

input[type="checkbox"] {
  margin: 20px;
  margin-right: 5px; }

label {
  margin: 20px;
  margin-left: 5px; }

.type-highlight {
  color: #0066CC;
  /* background-color: #0066CC; */ }

/*# sourceMappingURL=main.css.map */
