@import url(https://fonts.googleapis.com/css?family=RobotoDraft:400,300,500,500italic,700italic,700);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700);

$darkprimary: #1976D2;
$primary: #2196F3;
$lightprimary: #BBDEFB;
$icons: #FFFFFF;
$accent: #FFC107;
$text: #212121;
$secondary: #727272;
$divider: #B6B6B6;

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-weight: bold;
	min-height: 100%;
	background: #EFEFEF;
	font-family: "RobotoDraft", Arial, sans-serif, Helvetica;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.nav {
	width: 100%;
	z-index: 9999;
	font-size: 14pt;
	padding: 18px 20px;
	position: relative;
	background: #FFFFFF;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.37);
	&>.brand {
		color: $primary;
		font-weight: bold;
		text-decoration: none;
		transition: all 0.18s ease;
		&:hover {
			color: #666666;
			transition: all 0.18s ease;
		}
	}
	&>.right>a {
		color: $divider;
		margin-left: 5px;
		margin-right: 5px;
		transition: all 0.18s ease;
	}
	&>.right>.navigation:hover {
		color: #666666;
		transition: all 0.18s ease;
	}
}

.left-nav {
	width: 19%;
	height: 100%;
	z-index: 9998;
	position: fixed;
	background: #FFFFFF;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.58);
	&>.header {
		width: 100%;
		height: 150px;
		background: url(../imgs/BackgroundV2.png);
		background-size: cover;
		&>.brand {
			width: 100%;
			color: #FFFFFF;
			font-size: 20pt;
			font-weight: 200;
			line-height: 150px;
			text-align: center;
			/* background: rgba(33, 150, 243, 0.5); */
		}
	}
	&>.links {
		width: 100%;
		margin-top: 30px;
		&>a {
			width: 100%;
			color: $text;
			display: block;
			font-size: 14pt;
			padding: 16px 24px;
			text-decoration: none;
			box-sizing: border-box;
			transition: all 0.18s ease;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			&:hover {
				background: #CCCCCC;
			}
			&.active {
				color: #FFFFFF;
				background: $primary;
				&:hover {
					background: $darkprimary;
				}
			}
		}
	}
}

.container {
	width: 79%;
	float: right;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 12px;
	&>.welcome {
		margin: 0px;
		padding: 0px;
		color: $primary;
		font-weight: 500;
	}
}

.print-container {
	width: 100%;
	height: 31%;
	margin-left: auto;
	margin-right: auto;
}

.card {
	width: 100%;
	margin-top: 15px;
	border-radius: 2px;
	margin-bottom: 15px;
	background: #FFFFFF;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.37);
	&>.card-title {
		color: #FFFFFF;
		font-size: 14pt;
		font-weight: 300;
		padding: 6px 15px;
		background: $primary;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
	}
	&>.card-content {
		padding: 8px 20px;
	}
	&>.card-footer {
		padding: 6px 15px;
		border-top: 1px solid #DDDDDD;
	}
}

.print-card {
	width: 100%;
	border-radius: 2px;
	&>.card-footer {
		padding: 6px 15px;
		border-top: 1px solid #EEEEEE;
	}
	&>.card-content {
		margin-left: auto;
		margin-right: auto;
	}
	&>.card-content>.print-30 {
		width: 33%;
		float: left;
	}
}

.table {
	width: 100%;
	&>thead>tr {
		padding: 1px 5px;
		border-bottom: 1px solid #DDDDDD;
	}
	&>tbody>tr {
		&:nth-child(odd) {
			background: #DDDDDD;
		}
	}
	&>td {
		padding: 1px 5px;
	}
}

.notification {
	width: 100%;
	margin-top: 5px;
	padding: 2px 5px;
	border-radius: 1px;
	margin-bottom: 5px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

.button-flat {
	font-size: 12pt;
	cursor: pointer;
	color: $primary;
	padding: 4px 8px;
	font-weight: bold;
	text-decoration: none;
	transition: box-shadow 0.36s ease-in-out;
	&:hover {
		text-decoration: none;
		transition: box-shadow 0.36s ease-in-out;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.37);
	}
}

td {
	padding: 5px;
}

.button-raised {
	width: 100%;
	border: none;
	color: #FFFFFF;
	font-weight: 500;
	padding: 8px 20px;
	text-align: center;
	border-radius: 2px;
	background: $primary;
	display: inline-block;
	transition: all 0.3s ease;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
	&:hover {
		color: #FFFFFF;
		text-decoration: none;
		transition: all 0.3s ease;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.37);
	}
	&:focus {
		color: #FFFFFF;
		text-decoration: none;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.37);
	}
	&[disabled] {
		color: #DDDDDD;
		background: #999999;
		pointer-events: none;
	}
	&.delete {
		background: #E14747;
	}
	&.print {
		background: #20B473;
	}
	&.el-2 {
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.37);
		&:hover {
			box-shadow: 0 6px 10px rgba(0, 0, 0, 0.38);
		}
	}
}

.disabled {
	width: 100%;
	border: none;
	color: #FFFFFF;
	font-weight: 500;
	padding: 8px 20px;
	text-align: center;
	border-radius: 2px;
	background: $primary;
	display: inline-block;
	transition: all 0.3s ease;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
	&:hover {
		color: #FFFFFF;
		text-decoration: none;
		transition: all 0.3s ease;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.37);
	}
	&:focus {
		color: #FFFFFF;
		text-decoration: none;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.37);
	}
	&[disabled] {
		color: #DDDDDD;
		background: #999999;
		pointer-events: none;
	}
	&.delete {
		background: #E14747;
	}
	&.print {
		background: #20B473;
	}
}

[disabled] {
	color: #DDDDDD;
	background: #999999;
	pointer-events: none;
}

input[type='text'] {
	width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    margin-top: 10px;
    padding: 12px 14px;
    border-radius: 3px;
    margin-bottom: 10px;
    border-bottom: 2px solid #DEDEDE;
    transition: border-bottom 0.18s ease;
    &:focus {
        border-bottom: 2px solid #ABABAB;
        transition: border-bottom 0.18s ease;
    }
}

input[type='password'] {
	width: 100%;
    border: none;
    outline: none;
    font-size: 14pt;
    margin-top: 10px;
    padding: 12px 14px;
    border-radius: 3px;
    margin-bottom: 10px;
    border-bottom: 2px solid #DEDEDE;
    transition: border-bottom 0.18s ease;
    &:focus {
        border-bottom: 2px solid #ABABAB;
        transition: border-bottom 0.18s ease;
    }
}

input[type='date'] {
	width: 100%;
	border: none;
	font-size: 18pt;
	padding: 12px 14px;
	border-bottom: 2px solid #DEDEDE;
}

select {
	width: 100%;
	border: none;
	font-size: 18pt;
	padding: 12px 14px;
	border-bottom: 2px solid #DEDEDE;
}

.pagination {
	list-style: none;
	&>li {
		float: left;
		color: $primary;
		padding: 4px 10px;
		display: inline-block;
		border: 1px solid $primary;
	}
	.active {
		color: #FFF;
		background: $primary;
		&>a{
			color: #FFFFFF;
		}
	}
	.disabledpage {
		float: left;
		color: #DDDDDD;
		background: #FFFFFF;
		pointer-events: none;
		&>a {
			color: #DDDDDD;
			background: #FFFFFF;
		}
	}
	.left {
		border-right: 0px;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
	}
	.right {
		border-left: 0px;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	}
}

.discount-icon {
	background-image: url(../imgs/discount-dollarsign.png);
	background-position: 2px 14px;
	background-repeat: no-repeat;
	&:focus {
		background-image: url(../imgs/discount-dollarsign.png);
		background-position: 2px 14px;
		background-repeat: no-repeat;
	}
}

.theoption {
	font-size: 11pt;
	font-family: "Titillium Web", Arial, sans-serif, Helvetica;
}

input[type="checkbox"] {
	margin: 20px;
	margin-right: 5px;
}

label {
	margin: 20px;
	margin-left: 5px;
}
