@import url(https://fonts.googleapis.com/css?family=RobotoDraft:400,300,500,500italic,700italic,700);

$darkprimary: #1976D2;
$primary: #2196F3;
$lightprimary: #BBDEFB;
$icons: #FFFFFF;
$accent: #FFC107;
$text: #212121;
$secondary: #727272;
$divider: #B6B6B6;

body {
	margin: 0px;
	padding: 0px;
	background: #EFEFEF;
	font-family: "RobotoDraft", Arial, sans-serif, Helvetica;
}